body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    min-width: 100ch;
    background-color: rgb(153, 152, 152) ;
    align-content: center;
    overflow: hidden;
    cursor: none;
}

h1 {
    color: whitesmoke;
    font-family: 'Roboto';
    margin-bottom: 0;
}

h2 {
    color: whitesmoke;
    font-family: 'Roboto';
}

 #moi {
    max-width: 300px;
    height: auto;
}

.info {
    min-width: 250px;
    height: 250px;
    background-color: red;
}



