@import "colors";

.sidebar {
    background: $main_gray;
    margin-top: 0;
    padding-top: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    cursor: none;

    a {
        cursor: none;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 3rem;
        text-decoration: none;
        padding-left: 5%;
    }
}