@import "colors";

.sidebar {
    background: $main_gray;
    padding-top: 30px;
    margin-top: 54px;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: calc(100% - 9%);
    cursor: none;
    pointer-events: all;
    transition: left 0.5s;
    overflow-y: auto;

    a {
        cursor: none;
        color: #fff;
        display: block;
        width: 100%;
        box-sizing: border-box;
        line-height: 60px;
        text-decoration: none;
        padding-left: 40px;
        transition: background 0.5s;
        
        i {
           padding-right: 10px;
        }

        &:hover {
            background-color: $second_gray;
        }
    }
}

#check_menu {
    display: none;
}

#check_menu:checked ~ .sidebar{
    left: -185px;    
}

#check_menu:checked ~ .sidebar a span{
    display: none; 
}

#check_menu:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;  
}

.main_panel {
    margin-left: 250px;
    padding-top: 54px;
    height: 100vh;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: inherit;
}

#check_menu:checked ~ .main_panel {
    margin-left: 65px;
}

header {

    position: fixed;
    background-color: $main_gray;
    padding: 12px;
    width: calc(100% - 0%);
    height: 30px;

    label #sidebar_btn {
        z-index: 1;
        color: #fff;
        opacity: 1;
        position: fixed;
        left: 300px;
        width: 20px;
        height: 20px;
        font-size: 20px;
        cursor: none;
        transition: color 0.5s;

        &:hover {
            color: $main_orange;
        }
    }

    & h3 {
        margin: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 22px;
            
        & span {
            color: $main_orange;
        }
    }
}

/* Responsive CSS */
.mobile_nav {
    display: none;
}

@media screen and (max-width: 780px) {
    .sidebar {
        display: none;
    }

    #sidebar_btn {
        display: none;
    }

    .main_panel {
        margin-left: 0;
        width:100%;
    }

    .info-panel {
        width: 100%;
    }

    .mobile_nav {
        position: fixed;
        top: 54px;
        display: flex;
        width: 100%;
        justify-content: space-around;
        background-color: $second-gray;
        padding-top: 1rem;
        padding-bottom: 1rem;
        & a {
            cursor: none;
            color: #fff;
            box-sizing: border-box;
            text-decoration: none;
            transition: background 0.5s;

            span {
                display: none;
            }
        }
    }
}
